<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Login System</title>
</head>
<body>
    <nav>
        <h4>Node MySQL Profile Page</h4>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-4">
                <div class="card">
                        <div class="avatar-ctn">
                            <img src="https://img.favpng.com/25/7/23/computer-icons-user-profile-avatar-image-png-favpng-LFqDyLRhe3PBXM0sx2LufsGFU.jpg" class="avatar" alt="avatar" width="65%"/>
                        </div>
                    <div class="card-body">
                        <h5 class="card-title">user</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo unde, ducimus ut dolore esse tempora veritatis minima labore velit, dolorum quia maiores facere enim laborum. Atque tempore amet doloribus unde!</p>
                        <a href="#" class="btn btn-primary">email@email.example</a>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="card text-center">
                    <div class="card-header">
                        Profile Page
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                           Hey user, welcome back
                        </h5>
                        <p class="card-text">This is your profile page that you can add info on</p>
                        <a href="#" class="btn btn-primary">Go Somewhere</a>
                    </div>
                    <div class="card-footer text-muted">Node MySQL - Login System</div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>